#body {
	background-color: #D3D3D3;
}

#contentWrapper{
	min-height: 600px;
	background-color: #C9C9C9;
}

html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.alignCenter {
	text-align : center;
}

.hidden {
	visibility: hidden;
}

.errorDiv{
	color: red;
	font-weight: bold;	
}

.itemListaServicios{
	background-color: rgb(255, 255, 253);
	max-width: 250;
	min-height: 300;
	border-radius: 10;
	text-align: center;
	padding-top: 10;
}

.datosItemListaServicios{
	text-align: left;
/*	margin-left: 48;
	margin-top: 10;*/
}

.tituloTipoServ{
	font-family: cursive;
	font-size: x-large;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
}

.comboFeo{
	width: 150;
	height: 35;
}